@media (max-width: 1200px)
{
    /* #region General */

    body
    {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
    }

    /* #endregion General */

    /* #region Aside */

    aside:not(#aside_mobile)
    {
        display: none;
        height: calc(100vh - 15px) !important;
        padding:0;
        top:15px;
    }

    #aside_mobile
    {
        display: flex;
    }

    #position
    {
        padding-bottom:15px;
    }

    article, nav, #position
    {
        margin-right:15px;
        margin-left:15px;
    }

    aside
    {
        position: relative;
        border-bottom: 1px solid hsl(33, 17%, 41%, 0.6);
        border-right: none;

        width: 100% !important;
        box-sizing:border-box;
    }

    menu
    {
        margin:0;
        padding-left:15px !important;
        padding-bottom:15px !important;
    }

    #open_menu, #close_menu
    {
        position: absolute;
        right:15px;
        height:fit-content;
        width:fit-content;
        border: solid var(--border-color) 1px;
        background-color: var(--background-color);
        border-radius: 8px;
    }

    #open_menu img, #close_menu img
    {
        display: flex;
        height:38px;
        width:30px;
        align-self:center;
        justify-self:center;
        aspect-ratio: 1;
    }
    
    #menu_actions 
    {
        position: static !important;
        display: flex !important;
        justify-content: center;
        gap: 10px;
    }

    #close_menu
    {
        display: flex;
    }

    /* #endregion Aside */

    /* #region Main */

    main
    {
        width:100% !important;
    }



    #card_section, #main_infos
    {
        display: flex;
        flex-direction: column;
        justify-items: center !important;
    }

    #card_section
    {
        flex-direction: column-reverse !important;
    }

    header 
    {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    h1 
    {
        margin: 10px;
    }

    #host_card, #receipt_card
    {
        width: min(var(--card-size), 80vw) !important;
        min-height: var(--card-size);
        box-sizing: border-box;
    }

    #prices
    {
        font-size:13px;
    }

    #hover_to_fan
    {
        display: none;
    }

    #main_infos
    {
        display: flex;
        flex-wrap: nowrap;
        align-items:center;
        gap:20px;
        padding:10px;
        margin:10px;
    }

    /* #endregion Main */

}