/* #region Fonts */

p
{
    font-family: "DM Sans", serif;
    position: relative;
    margin:0;
    font-size: 14px;
}

h1
{
    font-family: "Fraunces", serif;
    font-style: none;
    font-weight: 500;
    font-size:38px;
    margin:0;
}

h2
{
    font-family: "Fraunces", serif;
    font-style: none;
    font-weight: 500;
    font-size:35px;
    padding:0;
    margin:0;
}

h3
{
    font-family: "Fraunces", serif;
    font-weight: 400;
    font-size:22px;
    padding:0;
    margin:0;
}

.elegant
{
    color:hsl(15, 74%, 41%);
    font-style: italic;
    font-family: "Fraunces", serif;
    font-weight: 400;
}

.typewriter
{
    font-family: "DM Mono", monospace;
    font-weight:200;
    color:hsl(33, 22%, 20%);
}

.minicaps
{
    text-transform: capitalize !important;
    font-variant-caps: all-small-caps !important;
    font-family: "DM Mono", monospace;
    font-weight:100;
    font-size: 16px;
}

/* #endregion TextStyles */

/* #region General */

*, *::before, *::after { box-sizing: border-box; }

img
{
    width:40px;
    height:40px;
}

body
{
    --sidebar-size : 30vw;
    --card-size : 450px;
    --background-color:hsl(35, 60%, 96%);
    --border-color:hsl(36, 22%, 86%);
    --text-color:hsl(33, 22%, 20%);

    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;

    display:flex;
    flex-wrap: nowrap;

    user-select: none;

    background-color: var(--background-color);
}

/* #endregion General */

/* #region Sidebar */

#aside_mobile, #close_menu
{
    display: none;
}

aside
{
    display: flex;
    flex-direction: column;
    align-self: stretch;

    background-color: var(--background-color);
    z-index:100;
    
    width:var(--sidebar-size);

    padding:15px;

    border-right:1px;
    border-right-style: solid;
    border-right-color: var(--border-color);
}

menu
{
    display:flex !important;
    padding-left:0 !important;
    padding-bottom:1.5vw;
    height:fit-content;

    justify-content: left;
    align-content: center;

    border-bottom:1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

#position
{
    display: flex;
    flex-direction: column;
    height:fit-content;

    padding-top:15px;

    border-top:1px;
    border-top-style: solid;
    border-top-color: var(--border-color);
}

#position p
{
    &:not(:last-child)  
    {
       margin-bottom: 1vw;
    }
}

article
{
    display: flex;
    flex-direction: column;
    margin-top:auto;
    position: relative;
    
    background-color: hsl(44, 84%, 75%);

    padding:15px;
    margin-bottom:15px;

    min-height:fit-content;
    height:50px;

    border-radius: 15px;
    overflow: hidden;
}

article:hover #weather_icon
{
    transition: 0.3s;
    transform: scale(120%);
}

article #weather_icon
{
    transition : 0.3s;
    display:block;
    position:absolute;

    top: -30px;
    right:-20px;

    width:100px;
    height:100px;
}

nav
{
    padding-top:10px;
}

nav-item
{
    transition: 0.3s;
    
    position: relative;
    display:flex;
    align-items:center;

    border-radius: 6px;
    color:hsl(33, 22%, 20%) !important;
}

#logo
{
    display: block;
    width:115px;
    height:auto;
    margin:0 !important;
    padding:0 !important;
}

nav-item p
{
    display:flex;
    align-items:center!important;
    padding:10px;
}

nav-item img
{
    height:35px;
    width:35px;
    padding:6px;
}

nav-item:first-child
{
    transition: 0.3s;
    background-color: hsl(0, 0%, 100%) !important;
    color:hsl(33, 15%, 15%) !important;
}

nav-item #alert
{
    position: absolute;
    display: flex;

    align-items:center !important;
    justify-content: center;

    right:8px;
    font-size:12px;
    background-color: hsl(15, 69%, 37%);
    color:hsl(0, 0%, 100%);

    padding:10px;
    border-radius: 100px;
    height:10px !important;
    width:10px !important;
}

nav-item:hover, nav-item p:hover
{
    transition: 0.3s;
    background-color: hsl(40, 60%, 98%);
    color:hsl(33, 15%, 15%) !important;
    transform: scale(101%);
}

/* #endregion Sidebar */

/* #region Main */

main
{
    padding:30px !important;
    box-sizing: border-box;
}

#booking
{
    font-family: "DM Mono", monospace;
    color:var(--text-color);
    text-transform: uppercase !important;
    letter-spacing: 1px;
    font-weight: 100 !important;
}

header
{
    position: relative;
    display:flex;
    align-items:center;
    height:fit-content !important;
}

#host_card, #receipt_card
{
    width: min(var(--card-size), 100vw);
    min-height: var(--card-size);
    height:auto;
    box-sizing: border-box;
    border-radius: 20px;
}

#menu_actions
{
    position:absolute;
    display: flex;
    right:0;
    gap:15px;
}

#menu_actions button
{
    transition:0.3s;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    padding:8px 18px 8px 28px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}

#add_to_calendar
{
    background-color: hsl(33, 15%, 15%);
    color: var(--background-color);
}

#print_receipt
{
    background-color: var(--background-color);
    border-color:var(--border-color);
    color: hsl(33, 15%, 15%);
}

#menu_actions button:hover
{
    transition: 0.3s;
    transform: scale(110%);
}

#main_infos
{
    display:flex;
}

#card_section
{
    position: relative;
    display: flex;
    margin: 80px 10px 10px;
    height: fit-content;
    width: fit-content;
    align-content: center ;
    justify-self: center;
    justify-content: center !important;
    gap: 15px;
}

#hover_to_fan
{
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    margin-bottom: 40px;
    z-index: -1 !important;
    color:var(--text-color);
}

#hover_to_fan img
{
    position: relative;
    display: block;
    margin:10px;
    height:10px;
    width:1dvb;
    z-index: -1 !important;
}

.card
{
	perspective: 500px;
	transform-style: preserve-3d;
}

.card-item
{
	transition: transform .2s;
}

/* #endregion Main */

/* #region InfoCards */

info-card
{
    transition:0.3s;
    display: flex;
    flex-direction: column;
    
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    border : solid var(--border-color) 1px;
    padding:20px 20px 0 20px;
    width:100%;
    margin:10px;
    box-shadow: 1px 6px 10px 1px hsla(33, 17%, 41%, 0.2);
}

info-card:hover
{
    transition: 0.3s;
    transform: scale(103%);
}

info-card img
{
    border-radius:8px;
    width: 30px;
    height:30px;
    padding:4px;
}

#card_header
{
    position: relative;
    display:flex;
    align-items:center;
    padding-bottom: 20px;
}

#card_header span 
{
    font-family: "DM Mono", monospace;
    padding-left:1vw;
    text-transform: uppercase;
}

#card_number
{
    font-family: "Fraunces", sans-serif;
    position: absolute;
    right:0;
    font-size:22px;
}

#network, #password
{
    display: flex !important;
    background-color: hsl(30, 24%, 93%);
    border-radius: 4px;
    padding:7px;
    
    justify-content:space-between;

    &:not(:last-child)
    {
        margin-bottom: 15px;
    }
}

info-card p 
{
    margin:10px;
}

#copy
{
    font-variant-caps: all-small-caps;
    border-color:var(--border-color);
    border-style: solid;
    border-width: 1px;
    margin-left:10px;
}

/* #endregion InfoCards */

/* #region Receipt */

#receipt_card
{
	background-color: #fff;
	transition: transform .2s;

    display: flex;
    flex-direction: column;
    align-content:space-between !important;
    z-index: 10;

    background-color: hsl(0, 0%, 100%);

    transform: rotateZ(-4deg);

    color:hsl(33, 22%, 20%);
    box-shadow: 1px 30px 30px 1px hsl(36, 22%, 86%);
}

#receipt, #check
{
    border-color:var(--border-color) !important;
    border-bottom-style:dashed;
    border-width: 1.5px;
    margin:15px;
    padding-bottom:15px;
}

#receipt_infos, .line_price, #total_pay, #card_code
{
    display: flex;
    justify-content: space-between;
}

#prices
{
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    color:hsl(32, 20%, 29%);
    margin:15px;
    padding-bottom:15px;

    border-bottom:solid;
    border-width: 1px;
    font-size:14px;
}

#check
{
    display: flex;
    justify-content:space-around;
    text-align: center;
}

#total_pay, #card_code
{
    display: flex;
    margin:15px;
    align-items:center;
}

#total_pay p
{
    font-size:22px;
}

#receipt code
{
    position:absolute;
    display: flex;
    justify-self: end;
}

#barcode
{
    width:auto;
}

/* #endregion Receipt */

/* #region Host */

#host_card
{
    z-index: 15;

    position: relative;
    display:flex;
    flex-direction: column;
    align-content: space-between;

    background: hsl(15, 69%, 37%);
    background: linear-gradient(33deg,hsl(15, 69%, 40%) 0%, hsl(15, 74%, 41%) 20%, hsl(18, 62%, 47%) 40%, hsl(22, 72%, 56%) 80%);   

    transform: rotateZ(4deg);

    color:hsl(41, 100%, 93%) !important;
    box-shadow: 1px 10px 50px 1px hsla(22, 72%, 56%, 0.6);
}

#host_header
{
    position:relative;
    margin: 20px;
    padding-top:10px;
    border-top-style: dashed;
    border-width: 1.5px;
    margin-bottom:70px;
}

#host_header img
{
    position: absolute;
    right:0;
    width:60px;
    height:60px;
}

#host_base, #host_description, #host_card span:not(#host_header span)
{
    margin: 20px !important;
}

#host_card span:not(#host_header span)
{
    text-align:justify !important;
    gap:0;
    display: flex;
    font-family: "DM Sans", monospace;
    font-size:16px;

    color:hsl(0, 0%, 100%) !important;
}

#host_description
{
    position: absolute;
    bottom:0;
    left:0;

}

#host_description p
{
    color:hsl(0, 0%, 100%) !important;
}

#host_header span
{
    font-family: "DM Mono", monospace !important;
}

#host_base h4
{
    font-size:40px;
    padding:0;
    margin:0;
    color:hsl(0, 0%, 100%) !important;
}

#host_base p
{
    font-family: "Fraunces", sans-serif !important;
}

/* #endregion Host */

