/* #region Fonts */
@font-face {
    font-family: "DM Mono";
    src: url("../fonts/dm-mono/DMMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DM Mono";
    src: url("../fonts/dm-mono/DMMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Fraunces";
    src: url("../fonts/fraunces/Fraunces-VariableFont_....ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Fraunces";
    src: url("../fonts/fraunces/Fraunces-Italic-Variable....ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

p
{
    font-family: "DM Sans", serif;
    position: relative;
    margin:0;
    font-size: 14px;
}

h1
{
    font-family: "Fraunces", serif;
    font-style: none;
    font-weight: 500;
    font-size:38px;
    margin:0;
}

h3
{
    font-family: "Fraunces", serif;
    font-style: none;
    font-weight: 600;
    font-size:35px;
    padding:0;
    margin:0;
}

h4
{
    font-family: "Fraunces", serif;
    font-weight: 600;
    font-size:22px;
    padding:0;
    margin:0;
}

.elegant
{
    color:hsl(15, 74%, 41%);
    font-style: italic;
    font-family: "Fraunces", serif;
    font-weight: 400;
}

.typewriter
{
    font-family: "DM Mono", monospace;
    font-weight:200;
    color:hsl(33, 22%, 20%);
}

.minicaps
{
    text-transform: capitalize !important;
    font-variant-caps: all-small-caps !important;
    font-family: "DM Mono", monospace;
    font-weight:100;
    font-size: 16px;
}

/* #endregion TextStyles */

/* #region General */
img
{
    width:40px;
    height:40px;
}

body
{
    --sidebar-size : 25vw;
    --card-size : 450px;

    margin: 0;
    padding: 0;
    width: 100% !important;
    min-width: 0;
    overflow-x: hidden;

    display:flex;
    flex-wrap: nowrap;

    user-select: none;

    background-color: hsl(30, 24%, 93%);
}

/* #endregion General */

/* #region Sidebar */

#aside_mobile, #close_menu
{
    display: none;
}

aside
{
    display: flex;
    flex-direction: column;
    align-self: stretch;

    background-color: hsl(30, 24%, 93%);
    z-index:100;
    
    width:var(--sidebar-size);

    padding:15px;

    border-right:1px;
    border-right-style: solid;
    border-right-color: hsl(33, 17%, 41%, 0.6);
}

section
{
    display:flex;
    padding-bottom:1.5vw;
    height:auto;
    justify-items: left;
    align-items: center;

    border-bottom:1px;
    border-bottom-style: solid;
    border-bottom-color: hsl(33, 17%, 41%, 0.6);
}

map
{
    display: flex;
    flex-direction: column;
    height:fit-content;


    padding-top:15px;

    border-top:1px;
    border-top-style: solid;
    border-top-color: hsl(33, 17%, 41%, 0.6);
}

map p
{
    &:not(:last-child)  
    {
       margin-bottom: 1vw;
    }
}

article
{
    display: flex;
    flex-direction: column;
    margin-top:auto;
    position: relative;
    
    background-color: hsl(44, 84%, 75%);

    padding:15px;
    margin-bottom:15px;

    min-height:fit-content;
    height:50px;

    border-radius: 12px;
    overflow: hidden;
}

article:hover #weather_icon
{
    transition: 0.3s;
    transform: scale(120%);
}

article #weather_icon
{
    transition : 0.3s;
    display:block;
    position:absolute;

    top: -30px;
    right:-20px;

    width:100px;
    height:100px;
}

nav
{
    padding-top:10px;
}

nav-item
{
    transition: 0.3s;
    
    position: relative;
    display:flex;
    align-items:center;

    border-radius: 4px;
    color:hsl(33, 22%, 20%) !important;
}

nav-item p
{
    display:flex;
    align-items:center!important;
    padding:10px;
}

nav-item img
{
    height:20px;
    width:20px;
    padding:6px;
}

nav-item mark
{
    position: absolute;
    display: flex;

    align-items:center !important;
    justify-content: center;

    right:8px;
    font-size:12px;
    background-color: hsl(15, 69%, 37%);
    color:hsl(0, 0%, 100%);

    padding:8px;
    border-radius: 100px;
    height:4px !important;
    width:4px !important;
}

nav-item:hover, nav-item p:hover
{
    transition: 0.3s;
    background-color: hsl(0, 0%, 100%);
    color:hsl(33, 15%, 15%) !important;
    transform: scale(101%);
}

/* #endregion Sidebar */

/* #region Main */

main
{
    padding:15px;
    box-sizing: border-box;
}

header
{
    position: relative;
    display:flex;
    align-items:center;
    height:fit-content !important;
}

#menu_actions
{
    position:absolute;
    display: flex;
    right:0;
    gap:15px;
}

#menu_actions button
{
    transition:0.3s;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    padding:10px 20px 10px 20px;
}

#add_to_calendar
{
    background-color: hsl(33, 15%, 15%);
    color: hsl(0, 0%, 100%);
}

#print_receipt
{
    background-color: hsl(0, 0%, 100%);
    color: hsl(33, 15%, 15%);
}

#menu_actions button:hover
{
    transition: 0.3s;
    transform: scale(110%);
}

summary
{
    display:flex;
}

#card_section
{
    position: relative;
    display:flex;
    margin-bottom:10px;
    margin-top:80px;
    height:fit-content;
    width: fit-content;
    justify-self: center;
    align-self:center;
    gap:15px;
}

#hover_to_fan
{
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    margin-bottom: 40px;
    z-index: -1 !important;
}

#hover_to_fan img
{
    position: relative;
    display: block;
    margin:10px;
    height:10px;
    width:1dvb;
    z-index: -1 !important;
}

.card
{
	perspective: 500px;
	transform-style: preserve-3d;
}

.card-item
{
	transition: transform .2s;
}

/* #endregion Main */

/* #region InfoCards */

info-card
{
    transition:0.3s;
    display: flex;
    flex-direction: column;
    
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    padding:20px 20px 0px 20px;
    width:100%;
    margin:10px;

    box-shadow: 1px 6px 10px 1px hsla(33, 17%, 41%, 0.2);
}

info-card:hover
{
    transition: 0.3s;
    transform: scale(103%);
}

info-card img
{
    border-radius:8px;
    width: 30px;
    height:30px;
    padding:4px;
}

#card_header
{
    position: relative;
    display:flex;
    align-items:center;
    padding-bottom: 20px;
}

#card_header span
{
    padding-left:1vw;
    font-variant-caps:all-small-caps ;
}

#card_number
{
    position: absolute;
    right:0;
    font-size:22px;
}

#card_base h4, p
{
    padding-bottom:0.6vw;
}

#network, #password
{
    display: flex !important;
    background-color: hsl(30, 24%, 93%);
    border-radius: 4px;
    padding:0.5vw;
    
    justify-content:space-between;

    &:not(:last-child)
    {
        margin-bottom: 1vw;
    }
}

#copy
{
    font-variant-caps: all-small-caps;
    border-color:hsl(36, 22%, 86%);
    border-style: solid;
    border-width: 1px;
    margin-left:10px;
}

/* #endregion InfoCards */

/* #region Receipt */

#receipt_card
{
    height: auto;

    width: min(var(--card-size), 90vw);
     min-width: 0;

    aspect-ratio: 1/1 !important;
	background-color: #fff;
	transition: transform .2s;

    display: flex;
    flex-direction: column;
    align-content:space-between;
    z-index: 10;

    background-color: hsl(0, 0%, 100%);
    border-radius: 14px;

    transform: rotateZ(-4deg);
    padding:1vw;

    color:hsl(33, 22%, 20%);
    box-shadow: 1px 10px 50px 1px hsla(33, 17%, 41%, 0.3);
}

#receipt, #check
{
    border-bottom-style:dashed;
    border-width: 1px;
    margin:15px;
    padding-bottom:15px;
}

#receipt_infos, .line_price, #total_pay, #card_code
{
    display: flex;
    justify-content: space-between;
    gap:50px;
}

#prices
{
    margin:15px;
    padding-bottom:15px;

    border-bottom:solid;
    border-width: 1px;
    font-size:12px;
}

#check
{
    display: flex;
    justify-content:space-around;
    text-align: center;
}

#total_pay, #card_code
{
    display: flex;
    margin:15px;
    align-items:center;
}

#total_pay p
{
    font-size:20px;
}

#receipt code
{
    position:absolute;
    display: flex;
    justify-self: end;
}

#barcode
{
    width:auto;
}

/* #endregion Receipt */

/* #region Host */

#host_card
{
    z-index: 15;
    padding:10px;
    aspect-ratio: 1/1 !important;
     min-width: 0;

    position: relative;
    display:flex;
    flex-direction: column;
    align-content: space-between;

    background: hsl(15, 69%, 37%);
    background: linear-gradient(33deg,hsl(15, 69%, 37%) 0%, hsl(15, 74%, 41%) 32%, hsl(18, 62%, 47%) 55%, hsl(22, 72%, 56%) 86%);   
    
    border-radius: 14px;

    height:auto;
    width: min(var(--card-size), 90vw);

    transform: rotateZ(4deg);

    color:hsl(0, 0%, 100%) !important;
    box-shadow: 1px 10px 50px 1px hsla(22, 72%, 56%, 0.6);
}

#host_header
{
    position:relative;
    margin: 20px;
    padding-top:10px;
    border-top-style: dashed;
    border-width: 1px;
    margin-bottom:70px;
}

#host_header img
{
    position: absolute;
    right:0;
    width:60px;
    height:60px;
}

#host_base, #host_description, #host_card span:not(#host_header span)
{
    margin: 20px !important;
}

#host_card span:not(#host_header span)
{
    text-align:justify !important;
    gap:0;
    display: flex;

    color:hsl(0, 0%, 100%) !important;
}

#host_description
{
    position: absolute;
    bottom:0;
    left:0;

}

#host_description p
{
    color:hsl(0, 0%, 100%) !important;
}

#host_header span
{
    font-variant-caps: all-small-caps;
    
}

#host_base h3
{
    color:hsl(0, 0%, 100%) !important;
}

/* #endregion Host */

